includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/src/DependencyInjection/Configuration.php
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
