parameters:
	ignoreErrors:
		-
			message: "#^Interface EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\DocumentCollectionInterface extends generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Elasticsearch/Document/DocumentCollectionInterface.php


