parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
