parameters:
	ignoreErrors:
		-
			message: "#^Method EMS\\\\CommonBundle\\\\Common\\\\Document\\:\\:__construct\\(\\) has parameter \\$source with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Common/Document.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Common\\\\Document\\:\\:getSource\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Common/Document.php

		-
			message: "#^Property EMS\\\\CommonBundle\\\\Common\\\\Document\\:\\:\\$source type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Common/Document.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Common\\\\HttpClientFactory\\:\\:create\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Common/HttpClientFactory.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Controller\\\\FileController\\:\\:closeSession\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Controller/FileController.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\DependencyInjection\\\\EMSCommonExtension\\:\\:load\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/DependencyInjection/EMSCommonExtension.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\DependencyInjection\\\\EMSCommonExtension\\:\\:load\\(\\) has parameter \\$configs with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/EMSCommonExtension.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\EMSCommonBundle\\:\\:build\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/EMSCommonBundle.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\:\\:__construct\\(\\) has parameter \\$document with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Document.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\:\\:getSource\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Document.php

		-
			message: "#^Property EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\:\\:\\$source type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Document.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\DocumentInterface\\:\\:getSource\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/DocumentInterface.php

		-
			message: "#^Property EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\DocumentCollection\\:\\:\\$documents type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Document/DocumentCollection.php

		-
			message: "#^Interface EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\DocumentCollectionInterface extends generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Elasticsearch/Document/DocumentCollectionInterface.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\DocumentInterface\\:\\:getSource\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Document/DocumentInterface.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\EMSSource\\:\\:__construct\\(\\) has parameter \\$source with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Document/EMSSource.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\EMSSource\\:\\:get\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Elasticsearch/Document/EMSSource.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\EMSSource\\:\\:get\\(\\) has parameter \\$default with no typehint specified\\.$#"
			count: 1
			path: src/Elasticsearch/Document/EMSSource.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\EMSSource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Document/EMSSource.php

		-
			message: "#^Property EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\EMSSource\\:\\:\\$source type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Document/EMSSource.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\EMSSourceInterface\\:\\:get\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Elasticsearch/Document/EMSSourceInterface.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\EMSSourceInterface\\:\\:get\\(\\) has parameter \\$default with no typehint specified\\.$#"
			count: 1
			path: src/Elasticsearch/Document/EMSSourceInterface.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Document\\\\EMSSourceInterface\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Document/EMSSourceInterface.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Factory\\:\\:fromConfig\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Factory.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Request\\\\Request\\:\\:__construct\\(\\) has parameter \\$body with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Request/Request.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Request\\\\Request\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Request/Request.php

		-
			message: "#^Property EMS\\\\CommonBundle\\\\Elasticsearch\\\\Request\\\\Request\\:\\:\\$body type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Request/Request.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Elasticsearch\\\\Request\\\\RequestInterface\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Elasticsearch/Request/RequestInterface.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Exception\\\\DateTimeCreationException\\:\\:fromArray\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Exception/DateTimeCreationException.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Exception\\\\DateTimeCreationException\\:\\:fromArray\\(\\) has parameter \\$code with no typehint specified\\.$#"
			count: 1
			path: src/Exception/DateTimeCreationException.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Exception\\\\DateTimeCreationException\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception/DateTimeCreationException.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Helper\\\\ArrayTool\\:\\:normalizeAndSerializeArray\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/ArrayTool.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Helper\\\\ArrayTool\\:\\:normalizeArray\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Helper/ArrayTool.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Helper\\\\ArrayTool\\:\\:normalizeArray\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/ArrayTool.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Logger\\\\FlashMessageLogger\\:\\:__construct\\(\\) has parameter \\$session with no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\.$#"
			count: 1
			path: src/Logger/FlashMessageLogger.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Logger\\\\FlashMessageLogger\\:\\:write\\(\\) has parameter \\$record with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Logger/FlashMessageLogger.php

		-
			message: "#^Property EMS\\\\CommonBundle\\\\Logger\\\\FlashMessageLogger\\:\\:\\$session type has no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\.$#"
			count: 1
			path: src/Logger/FlashMessageLogger.php

		-
			message: "#^Generator expects value type DOMElement, DOMNode given\\.$#"
			count: 1
			path: src/Service/Dom/HtmlCrawler.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Service\\\\Pdf\\\\PdfGenerator\\:\\:getMetaTags\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Pdf/PdfGenerator.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Service\\\\Pdf\\\\PdfGenerator\\:\\:sanitizeMetaTags\\(\\) has parameter \\$metaData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Pdf/PdfGenerator.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Service\\\\Pdf\\\\PdfGenerator\\:\\:sanitizeMetaTags\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Pdf/PdfGenerator.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Service\\\\Pdf\\\\PdfGenerator\\:\\:sanitizeMetaTags\\(\\) should return array but returns array\\|false\\|null\\.$#"
			count: 1
			path: src/Service/Pdf/PdfGenerator.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Service\\\\Pdf\\\\PdfPrintOptions\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Pdf/PdfPrintOptions.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyBackground\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyBackground\\(\\) has parameter \\$height with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyBackground\\(\\) has parameter \\$image with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyBackground\\(\\) has parameter \\$width with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyCorner\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyCorner\\(\\) has parameter \\$height with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyCorner\\(\\) has parameter \\$image with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyCorner\\(\\) has parameter \\$width with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyResizeAndBackground\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyResizeAndBackground\\(\\) has parameter \\$image with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyWatermark\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyWatermark\\(\\) has parameter \\$height with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyWatermark\\(\\) has parameter \\$image with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:applyWatermark\\(\\) has parameter \\$width with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:fillBackgroundColor\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:fillBackgroundColor\\(\\) has parameter \\$temp with no typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\Image\\:\\:generate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/Image.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\StreamRange\\:\\:__construct\\(\\) has parameter \\$headerBag with no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\HeaderBag\\.$#"
			count: 1
			path: src/Storage/Processor/StreamRange.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\StreamRange\\:\\:getContentLengthHeader\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/StreamRange.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\StreamRange\\:\\:getContentRangeHeader\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/StreamRange.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\StreamRange\\:\\:isPartial\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/StreamRange.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\StreamRange\\:\\:isSatisfiable\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/StreamRange.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\StreamRange\\:\\:parseRangeHeader\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Storage/Processor/StreamRange.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Storage\\\\Processor\\\\StreamRange\\:\\:parseRangeHeader\\(\\) has parameter \\$headerBag with no value type specified in iterable type Symfony\\\\Component\\\\HttpFoundation\\\\HeaderBag\\.$#"
			count: 1
			path: src/Storage/Processor/StreamRange.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Twig\\\\CommonExtension\\:\\:arrayKey\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/CommonExtension.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Twig\\\\CommonExtension\\:\\:arrayKey\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/CommonExtension.php

		-
			message: "#^Method EMS\\\\CommonBundle\\\\Twig\\\\RequestRuntime\\:\\:localeAttribute\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/RequestRuntime.php

