includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/src/DependencyInjection/Configuration.php
    reportUnmatchedIgnoredErrors: false
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
